{% extends 'base.twig' %}

{% block main %}
<!-- posts list -->
<div id="posts-list">

    <h2 class="page-heading"><span>BLOG</span></h2>
    {% autoescape false %}
        {% for post in posts %}
            <article class="format-standard">
                <div class="entry-date"><div class="number">{{ post.date|date('d') }}</div>
                    <div class="year">{{ post.date|date('M, Y') }}</div></div>
                {% if post.picture %}
                    <div class="feature-image">
                        <a href="/media/{{ post.picture }}" data-rel="prettyPhoto"><img src="/media/{{ post.picture }}" /></a>
                    </div>
                {% endif %}
                <h2  class="post-heading"><a href="/blog/{{ post.title }}">{{ post.title }}</a></h2>
                <div class="excerpt">{{ post.text|markdown|max_words(80, '...') }}</div>
                <a href="single.html" class="read-more">continue &#8594;</a>
                <div class="meta">
                    <div class="categories">In <a href="#">Category 1</a>, <a href="#">Category 2</a></div>
                    <div class="comments"><a href="#">{% if post.ownComment.count > 0 %}{{ post.ownComment.count }}{% else %}0{% endif %} {% if post.ownComment.count == 1 %}comment{% else %}comments{% endif %}</a></div>
                    <div class="user"><a href="/about">By {{ post.author.name }}</a></div>
                </div>
            </article>
        {% endfor %}
    {% endautoescape %}

    <!-- page-navigation -->
    <div class="page-navigation clearfix">
        {% if morePosts %}
            <div class="nav-next">
                <a href="/blog/{{ page.number + 1 }}">&#8592; Older Entries </a>
            </div>
        {% endif %}
        {% if page.number != 0 %}
            <div class="nav-previous">
                {% if page.number - 1 == 0 %}
                    <a href="/blog">Newer Entries &#8594;</a>
                {% else %}
                    <a href="/blog/{{ page.number - 1 }}">Newer Entries &#8594;</a>
                {% endif %}
            </div>
        {% endif %}
        <!--ENDS page-navigation -->

    </div>

</div>
<!-- ENDS posts list -->
{% endblock %}

{% block sidebar %}
<!-- sidebar -->
<aside id="sidebar">

    <ul>
        <li class="block">
            <h4>CATEGORIES</h4>
            <ul>
                {% for category in categories %}
                    <li class="cat-item"><a href="/blog/{{ category.name|lower }}" title="View all posts">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </li>

        <li class="block">
            <h4>ARCHIVES</h4>
            <ul>
                <li class="cat-item"><a href="#" title="View all posts">January</a></li>
                <li class="cat-item"><a href="#" title="View all posts">February</a></li>
                <li class="cat-item"><a href="#" title="View all posts">March</a></li>
            </ul>
        </li>

    </ul>

    <em id="corner"></em>
</aside>
<!-- ENDS sidebar -->
{% endblock %}