{% extends 'content.twig' %}

{% block main %}
<!-- posts list -->
<div id="posts-list">

    <h2 class="page-heading"><span>BLOG</span></h2>
        {% for post in posts %}
            <article class="format-standard">
                <div class="entry-date"><div class="number">{{ post.date|date('d') }}</div>
                    <div class="year">{{ post.date|date('M, Y') }}</div></div>
                {% if post.picture %}
                    <div class="feature-image">
                        <a href="/media/{{ post.picture }}" data-rel="prettyPhoto"><img src="/media/{{ post.picture }}" /></a>
                    </div>
                {% endif %}
                <h2  class="post-heading"><a href="/blog/{{ post.link }}">{{ post.title }}</a></h2>
                {% autoescape false %}
                <div class="excerpt">{{ post.text|markdown|max_words(80, '...') }}</div>
                {% endautoescape %}
                <a href="/blog/{{ post.link }}" class="read-more">read more &#8594;</a>
                <div class="meta">
                    <div class="categories">In
                        {% set cnt = 1 %}
                        {% for tag in post.sharedCategory %}
                            <a href="/blog/category/{{ tag.link }}">{{ tag.name }}</a>{% if cnt < post.sharedCategory|length %},{% endif %}
                            {% set cnt = cnt + 1 %}
                        {% endfor %}
                    </div>
                    <div class="comments"><a href="/blog/{{ post.link }}/comment-list">{% if post.ownComment.count > 0 %}{{ post.ownComment.count }}{% else %}0{% endif %} {% if post.ownComment.count == 1 %}comment{% else %}comments{% endif %}</a></div>
                    <div class="user"><a href="/about">By {{ post.author.name }}</a></div>
                </div>
            </article>
        {% endfor %}

    <!-- page-navigation -->
    <div class="page-navigation clearfix">
        {% if morePosts %}
            <div class="nav-next">
                <a href="/blog/{{ page.number + 1 }}">&#8592; Older Entries </a>
            </div>
        {% endif %}
        {% if page.number != 0 %}
            <div class="nav-previous">
                {% if page.number - 1 == 0 %}
                    <a href="/blog">Newer Entries &#8594;</a>
                {% else %}
                    <a href="/blog/{{ page.number - 1 }}">Newer Entries &#8594;</a>
                {% endif %}
            </div>
        {% endif %}
        <!--ENDS page-navigation -->

    </div>

</div>
<!-- ENDS posts list -->
{% endblock %}

{% block sidebar %}
<!-- sidebar -->
<aside id="sidebar">

    <ul>
        <li class="block">
            <h4><a href="/categories" title="View all categories">CATEGORIES</a></h4>
            <ul>
                {% for category in categories %}
                    <li class="cat-item"><a href="/blog/category/{{ category.link }}" title="View all posts">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </li>

        <li class="block">
            <h4><a href="/archives" title="View all archives">ARCHIVES</a></h4>
            <ul>
                {% set last = '' %}
                {% for month in archives if month.date|date('F') != last %}
                <li class="cat-item"><a href="/archives/{{ month.date|date('Y') }}/{{ month.date|date('m') }}" title="View all posts">{{ month.date|date('F') }}</a></li>
                {% set last = month.date|date('F') %}
                {% endfor %}  
                {% for i in 2011..archives[0].date|date('Y') - 1 %}
                <li class="cat-item"><a href="/archives/{{ i }}" title="View all posts">{{ i }}</a></li>
                {% endfor %}
            </ul>
        </li>

    </ul>

    <em id="corner"></em>
</aside>
<!-- ENDS sidebar -->
{% endblock %}