{% extends pjax ? 'empty.twig' : 'base.twig' %}

{% block content %}
<header class="clearfix">
    <div class="wrapper">
        <a href="/" id="logo"><h1 style="color: #E2E0D7;">LukeKorth.com</h1></a>

        <nav>
            <ul id="nav" class="sf-menu">
                <li {% if page.name == 'blog' %}class="current-menu-item"{% endif %}><a href="/blog/">BLOG</a></li>
                <li {% if page.name == 'about' %}class="current-menu-item"{% endif %}><a href="/about/">ABOUT</a></li>
                <li {% if page.name == 'projects' %}class="current-menu-item"{% endif %}><a href="/projects/">PROJECTS</a></li>
                <li {% if page.name == 'contact' %}class="current-menu-item"{% endif %}><a href="/contact/">CONTACT</a></li>
            </ul>
        </nav>
        <div id="combo-holder"></div>
    </div>
</header>

<!-- MAIN -->
<div id="main">
    <div class="wrapper clearfix">
        {% block main %}{% endblock %}
        {% block sidebar %}
            <!-- sidebar -->
            <aside id="sidebar">

                <ul>
                    <li class="block">
                        <h4><a href="/blog" title="View all categories">CATEGORIES</a></h4>
                        <span id="tags">
                            {% for category in categories %}
                                <a href="/blog/category/{{ category.title }}" rel="{{ category.count }}" title="View all posts tagged {{ category.title }}">{{ category.title }}</a>
                            {% endfor %}
                        </span>
                    </li>

                    <li class="block">
                        <h4><a href="/blog" title="View all archives">ARCHIVES</a></h4>
                        <ul>
                            {% set last = '' %}
                            {% for month in archives if month.date|date('F') != last %}
                            <li class="cat-item"><a href="/blog/archives/{{ month.date|date('Y') }}/{{ month.date|date('m') }}" title="View all posts">{{ month.date|date('F') }}</a></li>
                            {% set last = month.date|date('F') %}
                            {% endfor %}
                            {% for i in 2011..oldest %}
                            <li class="cat-item"><a href="/blog/archives/{{ i }}" title="View all posts">{{ i }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>

                </ul>

                <em id="corner"></em>
            </aside>
            <!-- ENDS sidebar -->
        {% endblock %}
    </div>
</div>
<!-- ENDS MAIN -->
{% if pjax %}
    {% autoescape false %}
        {{ js }}
    {% endautoescape %}
{% endif %}
{% endblock %}

{% block jsbase %}
    {% if pjax != true %}
        {% autoescape false %}
            {{ js }}
        {% endautoescape %}
    {% endif %}
{% endblock %}