{% extends 'content.twig' %}

{% block main %}
<!-- posts list -->
<div id="posts-list" class="single-post">

    <h2 class="page-heading"><span>BLOG</span></h2>

    <article class="format-standard">
        <div class="entry-date"><div class="number">{{ post.date|date('d') }}</div>
            <div class="year">{{ post.date|date('M, Y') }}</div></div>

        <figure class="kudo kudoable" data-id="1">
            <a class="kudobject">
                <div class="opening"><div class="circle">&nbsp;</div></div>
            </a>
            <a href="#kudo" class="count">
                <span class="num">{{ post.kudos }}</span>
                <span class="txt">{% if post.kudos == 1 %}Kudo{% else %}Kudos{% endif %}</span>
            </a>
        </figure>

        {% if post.picture %}
        <div class="feature-image">
            <a href="/media/{{ post.picture }}" data-rel="prettyPhoto"><img src="/media/{{ post.picture }}" /></a>
        </div>
        {% endif %}
        <h2  class="post-heading"><a>{{ post.title }}</a></h2>
        {% autoescape false %}
        <div class="post-content">{{ post.text|markdown }}</div>
        {% endautoescape %}
        <div class="meta">
            <div class="categories">In
                        {% set cnt = 1 %}
                        {% for tag in post.sharedCategory %}
                    <a href="/blog/category/{{ tag.link }}">{{ tag.name }}</a>{% if cnt < post.sharedCategory|length %},{% endif %}
                            {% set cnt = cnt + 1 %}
                        {% endfor %}
                </div>
                <div class="comments"><a href="javascript:scrollToComments();">{% if post.ownComment|length > 0 %}{{ post.ownComment|length }}{% else %}0{% endif %} {% if post.ownComment|length == 1 %}comment{% else %}comments{% endif %}</a></div>
                <div class="user"><a href="/about/">By {{ post.author.name }}</a></div>
            </div>

            <!-- comments list -->
            <div id="comments-wrap">
                <h3 class="heading" id="comments-list">{% if comments|length > 0 %}{{ comments|length }}{% else %}0{% endif %} {% if comments|length == 1 %}COMMENT{% else %}COMMENTS{% endif %}</h3>
                <ol class="commentlist">
                    {% set commentCount = 1 %}
                    {% set commentType = 'even' %}
                    {% for comment in comments %}
                    <li class="comment {{ commentType }} thread-{{ commentType }} depth-{{ commentCount }}" id="li-comment-{{ commentCount }}">

                        <div id="comment-{{ commentCount }}" class="comment-body clearfix">
                            <img src='http://gravatar.com/avatar/{{ comment.gravatar }}?s=60&amp;d=&amp;r=G' class='avatar avatar-60 photo' />
                            <div class="comment-author vcard">{{ comment.author }}</div>
                            <div class="comment-meta commentmetadata">
                                <span class="comment-date">{{ comment.time|time_ago }}  </span>
                            </div>
                            <div class="comment-inner">
                                <p>{{ comment.comment }}</p>
                            </div>
                        </div>
                    </li>
                    {% set commentCount = commentCount + 1 %}
                    {% if commentType == 'even' %}
                        {% set commentType = 'odd' %}
                    {% else %}
                        {% set commentType = 'even' %}
                    {% endif %}
                    {% endfor %}
                </ol>
            </div>
            <!-- ENDS comments list -->

            <!-- Respond -->
            <div id="respond">
                {{ form.render() }}
            </div>
            <div class="clearfix"></div>
            <!-- ENDS Respond -->

        </article>

    </div>
    <!-- ENDS posts list -->
{% endblock %}

{% set js %}
    <script>
        {% if pjax != true %}
        $(document).ready(function() {
        {% endif %}
            var postId = 'kudo{{ post.id }}';

            // initialize kudos
            $("figure.kudoable").kudoable();

            if($.cookie(postId) == 'true')
                $("figure.kudoable").removeClass("animate").addClass("complete");

            // after kudo'd
            $("figure.kudo").bind("kudo:added", function(e) {
                $.post('/blog/kudos/give/{{ post.id }}', function(data) {
                    $.cookie(postId, 'true', { expires: 7 });
                });
            });

            // after removing a kudo
            $("figure.kudo").bind("kudo:removed", function(e) {
                $.post('/blog/kudos/take/{{ post.id }}', function(data) {
                    $.removeCookie(postId);
                });
            });

            {% if commentList %}
            scrollToComments();
            {% endif %}
        {% if pjax != true %}
        });
        {% endif %}
    </script>
{% endset %}