{% extends 'content.twig' %}

{% block main %}
<!-- posts list -->
<div id="posts-list" class="single-post">

    <h2 class="page-heading"><span>BLOG</span></h2>

    <article class="format-standard">
        <div class="entry-date"><div class="number">{{ post.date|date('d') }}</div>
            <div class="year">{{ post.date|date('M, Y') }}</div></div>
        {% if post.picture %}
        <div class="feature-image">
            <a href="/media/{{ post.picture }}" data-rel="prettyPhoto"><img src="/media/{{ post.picture }}" /></a>
        </div>
        {% endif %}
        <h2  class="post-heading"><a>{{ post.title }}</a></h2>
        {% autoescape false %}
        <div class="post-content">{{ post.text|markdown }}</div>
        {% endautoescape %}
        <div class="meta">
            <div class="categories">In
                        {% set cnt = 1 %}
                        {% for tag in post.sharedCategory %}
                    <a href="/blog/category/{{ tag.link }}">{{ tag.name }}</a>{% if cnt < post.sharedCategory|length %},{% endif %}
                            {% set cnt = cnt + 1 %}
                        {% endfor %}
                </div>
                <div class="comments"><a href="javascript:scrollToComments();">{% if post.ownComment.count > 0 %}{{ post.ownComment.count }}{% else %}0{% endif %} {% if post.ownComment.count == 1 %}comment{% else %}comments{% endif %}</a></div>
                <div class="user"><a href="/about">By {{ post.author.name }}</a></div>
            </div>

            <!-- comments list -->
            <div id="comments-wrap">
                <h3 class="heading" id="comments-list">{% if comments|length > 0 %}{{ comments|length }}{% else %}0{% endif %} {% if comments|length == 1 %}COMMENT{% else %}COMMENTS{% endif %}</h3>
                <ol class="commentlist">
                    {% set commentCount = 1 %}
                    {% set commentType = 'even' %}
                    {% for comment in comments %}
                    <li class="comment {{ commentType }} thread-{{ commentType }} depth-{{ commentCount }}" id="li-comment-{{ commentCount }}">

                        <div id="comment-{{ commentCount }}" class="comment-body clearfix">
                            <img src='http://gravatar.com/avatar/{{ comment.gravatar }}?s=60&amp;d=&amp;r=G' class='avatar avatar-60 photo' />
                            <div class="comment-author vcard">{{ comment.author }}</div>
                            <div class="comment-meta commentmetadata">
                                <span class="comment-date">{{ comment.time|time_ago }}  </span>
                            </div>
                            <div class="comment-inner">
                                <p>{{ comment.comment }}</p>
                            </div>
                        </div>
                    </li>
                    {% set commentCount = commentCount + 1 %}
                    {% if commentType == 'even' %}
                        {% set commentType = 'odd' %}
                    {% else %}
                        {% set commentType = 'even' %}
                    {% endif %}
                    {% endfor %}
                </ol>
            </div>
            <!-- ENDS comments list -->


            <!-- Respond -->
            <div id="respond">

                <div class="cancel-comment-reply"><a rel="nofollow" id="cancel-comment-reply-link" href="#respond" style="display:none;">Cancel reply</a></div>
                <form action="single.html" method="post" id="commentform">
                    <h3 class="heading">LEAVE A REPLY</h3>
                    <input type="text" name="author" id="author" value="" tabindex="1" />
                    <label for="author">Name <small>*</small></label><br/>

                    <input type="text" name="email" id="email" value="" tabindex="2" />
                    <label for="email">Email <small>*</small> <span>(not published, used for <a href="http://gravatar.com">gravatar</a>)</span></label><br/>

                    <input type="text" name="url" id="url" value="" tabindex="3" />
                    <label for="url">Website</label>

                    <textarea name="comment" id="comment"  tabindex="4"></textarea>

                    <p><input name="submit" type="submit" id="submit" tabindex="5" value="Post" /></p>

                    <input type='hidden' name='comment_post_ID' value='' id='comment_post_ID' />
                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                </form>
            </div>
            <div class="clearfix"></div>
            <!-- ENDS Respond -->

        </article>

    </div>
    <!-- ENDS posts list -->

    {% if commentList %}
    <script>
        $(document).ready(function() {
            scrollToComments();
        });
    </script>
    {% endif %}
{% endblock %}